@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="tab-pane fade active show" id="Personal">

    <!-- Profile info -->
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">@ViewData["Title"]</h5>
        </div>
        <div class="card-body">
            <div class="alert alert-warning" role="alert">
                <p>
                    <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
                </p>
            </div>

            <div>
                <form id="delete-user" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    @if (Model.RequirePassword)
                    {
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your password." />
                            <label asp-for="Input.Password" class="form-label"></label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    }
                    <button class="btn btn-danger" type="submit">Delete data and close my account</button>
                </form>
            </div>
        </div>
    </div>
    <!-- /profile info -->

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}