@{
    Layout = "_Layout.cshtml";
}
<!-- Login form -->
<div class="login-form">
    <div class="card mb-0">
        <div class="card-body">
            @RenderBody()
            <vc:external-logins></vc:external-logins>
            @RenderSection("Register", required: false)
        </div>
    </div>
</div>
<!-- /login form -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    @RenderSection("Scripts", required: false)
}
