@page
@using Leelite.Identity.SignIn.Options
@model LoginMobileModel
@{
    Layout = "_LoginLayout.cshtml";
    ViewData["Title"] = "短信验证码登录";
}

<div>短信验证码登录</div>
@section Register{
    <vc:register return-url=""></vc:register>
}