<ul class="navbar-nav ml-lg-auto">
  <li class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-dark" [routerLink]="['/fetch-data']">Fetch data</a>
  </li>
  <li class="nav-item">
    <a href="#" class="navbar-nav-link">Text link</a>
  </li>

  <li class="nav-item">
    <a href="#" class="navbar-nav-link">
      <i class="icon-lifebuoy"></i>
    </a>
  </li>

  <li class="nav-item">
    <a href="https://themeforest.net/item/limitless-responsive-web-application-kit/13080328?ref=kopyov"
      class="navbar-nav-link font-weight-semibold">
      <span class="text-pink-400">
        <i class="icon-cart2 mr-2"></i>
        Purchase
      </span>
    </a>
  </li>
</ul>