@{
    Layout = "_Layout.cshtml";
}

@section Styles{
    @RenderSection("Styles", required: false)
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Leelite</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                @*<partial name="_LoginPartial" />*@
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="~/Dev">Dev</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="~/Admin">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="~/swagger">Swagger</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="~/healthchecks-ui">HealthChecks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="~/hangfire">Hangfire</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="~/profiler/results-index">MiniProfiler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2019 - Leelite.Home.UI - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

@section ScriptsPlugins {
    @RenderSection("ScriptsPlugins", required: false)
}

@section Scripts {
    @RenderSection("Scripts", required: false)
}