@page
@model CodeModel
@{
    ViewData["Title"] = "项目结构";
}


<!-- Content area -->
<div class="content container">

    <!-- Centered card -->
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">DDD代码生成器</h5>
                </div>

                <div asp-validation-summary="ModelOnly" class="card-body validation-invalid-label"></div>

                <div class="card-body border-top">
                    <form method="post">
                        <div class="row mb-3">
                            <label asp-for="Info.ClassName" class="col-lg-3 col-form-label"></label>
                            <div class="col-lg-9">
                                <input asp-for="Info.ClassName" class="form-control" required>
                                <span asp-validation-for="Info.ClassName" class="validation-invalid-label"></span>
                                <div class="form-text text-muted"></div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label asp-for="Info.ClassFullName" class="col-lg-3 col-form-label"></label>
                            <div class="col-lg-9">
                                <input asp-for="Info.ClassFullName" class="form-control" required />
                                <span asp-validation-for="Info.ClassFullName" class="validation-invalid-label"></span>
                                <div class="form-text text-muted"></div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label asp-for="Info.Namespace" class="col-lg-3 col-form-label"></label>
                            <div class="col-lg-9">
                                <input asp-for="Info.Namespace" class="form-control" required />
                                <span asp-validation-for="Info.Namespace" class="validation-invalid-label"></span>
                                <div class="form-text text-muted"></div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label asp-for="Info.AssemblyPath" class="col-lg-3 col-form-label"></label>
                            <div class="col-lg-9">
                                <input asp-for="Info.AssemblyPath" class="form-control" required />
                                <span asp-validation-for="Info.AssemblyPath" class="validation-invalid-label"></span>
                                <div class="form-text text-muted"></div>
                            </div>
                        </div>

                        <div class="text-end">
                            <button type="submit" class="btn btn-primary">生成代码 <i class="ph-paper-plane-tilt ms-2"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /centered card -->
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<div>
    <em>Logs:</em>
    <pre>
    <code>@Model.Logs</code>
    </pre>
</div>