@page
@model CodeModel
@{
    ViewData["Title"] = "代码生成工具";
}

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Info.ClassName" class="control-label"></label>
        <input asp-for="Info.ClassName" class="form-control" required />
        <span asp-validation-for="Info.ClassName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Info.ClassFullName" class="control-label"></label>
        <input asp-for="Info.ClassFullName" class="form-control" required />
        <span asp-validation-for="Info.ClassFullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Info.Namespace" class="control-label"></label>
        <input asp-for="Info.Namespace" class="form-control" required />
        <span asp-validation-for="Info.Namespace" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Info.AssemblyPath" class="control-label"></label>
        <input asp-for="Info.AssemblyPath" class="form-control" required />
        <span asp-validation-for="Info.AssemblyPath" class="text-danger"></span>
    </div>
    <input type="submit" value="生成代码" />
</form>

<div>
    <em>Logs:</em>
    <pre>
    <code>@Model.Logs</code>
    </pre>
</div>