@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/dev_assets/css/site.css" />
    @RenderSection("Scripts", required: false)
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="Dev" asp-page="/Index">Leelite 开发工具</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Dev" asp-page="/Index">首页</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - Leelite.Dev
    </div>
</footer>

@section Scripts {
    <script src="~/dev_assets/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
}
